<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_with(model: @post) do |form| %>
  <div class="blog_content">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <%= form.submit %>
<% end %>
  </div>
</div>